{
  "http_interactions": [
    {
      "recorded_at": "2021-06-30T00:09:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"-000000000000000000000000000000\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "299"
          ],
          "x-ratelimit-reset": [
            "15"
          ],
          "x-ratelimit-used": [
            "1"
          ],
          "x-reddit-loid": [
            "0000000000d0lnaiza.2.1625011785709.Z0FBQUFBQmcyN1pKNTJ2SHN0STZIQnlTb3JQTGR0RXRBYmpTTDZOdUw1SE9QYlNZRWNkcHVpQUcyS2dJbFhsYnp4b1wkRzVKR0gxQ25BSDhMNkpBZkp6XzF4MUM3M0JsMlNNV0F690MxRVFWQ3rRLXBkNkpwVkpTOFpJY2dZMWJtSlVlVkVWV1FYaUE"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-06-30T00:09:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer -000000000000000000000000000000"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/t/bird?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "location": [
            "https://oauth.reddit.com/r/t:bird/"
          ]
        },
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "url": "https://oauth.reddit.com/t/bird?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}