{
  "http_interactions": [
    {
      "recorded_at": "2021-06-09T23:00:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"00000000-000000000000000000000000000000\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "299"
          ],
          "x-ratelimit-reset": [
            "583"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2021-06-09T23:00:18",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer 00000000-000000000000000000000000000000"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/api/read_all_messages?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "599.0"
          ],
          "x-ratelimit-reset": [
            "582"
          ],
          "x-ratelimit-used": [
            "1"
          ]
        },
        "status": {
          "code": 202,
          "message": "Accepted"
        },
        "url": "https://oauth.reddit.com/api/read_all_messages?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}