{
  "http_interactions": [
    {
      "recorded_at": "2016-02-07T01:02:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=refresh_token&refresh_token=INVALID_TOKEN"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\": 400}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}