{
  "http_interactions": [
    {
      "recorded_at": "2018-03-17T04:29:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"0oMQ0UR6qTnRWidnH1mbXrIgucQ\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2018-03-17T04:29:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&content=type%3A+submission%0Aaction%3A+upvote&page=config%2Fautomoderator"
        },
        "headers": {
          "Authorization": [
            "bearer oNOjYO9S4zSVLw3pG7o62C1FKec"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/ttft/api/wiki/edit/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"reason\": \"SPECIAL_ERRORS\", \"message\": \"Unsupported Media Type\", \"special_errors\": [\"invalid value for `action`: `upvote` in rule:\\n\\ntype: submission\\naction: upvote\"]}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "597.0"
          ],
          "x-ratelimit-reset": [
            "27"
          ],
          "x-ratelimit-used": [
            "3"
          ]
        },
        "status": {
          "code": 415,
          "message": "Unsupported Media Type"
        },
        "url": "https://oauth.reddit.com/r/ttft/api/wiki/edit/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}