{
  "http_interactions": [
    {
      "recorded_at": "2016-02-14T20:31:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "code=invalid+code&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A8080"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"error\": \"invalid_grant\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}
