{
  "http_interactions": [
    {
      "recorded_at": "2021-06-25T11:21:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "device_id=DO_NOT_TRACK_THIS_DEVICE&grant_type=https%3A%2F%2Foauth.reddit.com%2Fgrants%2Finstalled_client&scope=adsedit+adsread+creddits+history"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"-000000000000000000000000000000\", \"token_type\": \"bearer\", \"device_id\": \"DO_NOT_TRACK_THIS_DEVICE\", \"expires_in\": 3600, \"scope\": \"adsedit adsread creddits history\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "299"
          ],
          "x-ratelimit-reset": [
            "531"
          ],
          "x-ratelimit-used": [
            "1"
          ],
          "x-reddit-loid": [
            "0000000000cxgu11le.2.1624620069713.Z0FBQUFBQmcxYndseVQ0QzNwTHE4aWtDQmNpTEktZmFFQ19qVjBnc0JDcDVYbDdTaUc0eDU2dGxjWil5MHRnWE5YeUFlNDRWS3BDaDZjV3h3ckRJWWgwVWFjWnNqMzJWbUxEdEZDMVVzRlBUQ2lMcFwMTk1FTU94aXNGeUFuUfQ0UFllR3ZfaUZTZWw"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}