{
  "http_interactions": [
    {
      "recorded_at": "2021-06-25T11:21:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials&scope=adsedit+adsread+creddits+history"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"-000000000000000000000000000000\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"adsedit adsread creddits history\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Clacks-Overhead": [
            "GNU Terry Pratchett"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "298"
          ],
          "x-ratelimit-reset": [
            "531"
          ],
          "x-ratelimit-used": [
            "2"
          ],
          "x-reddit-loid": [
            "0000000000cxgu137i.2.1624620069996.Z0FBQUFBQmcxYndtV3lJNlpzTlhPdHA5NUQ5VWV3X0RlbV9hWkNuMmVnWWRhS0hZbzRwaGVRaFNT9FR5SmZMY3ZlSGhod1hXc0w3cEgwRGRnNXR5QmVhb2ZEYk9sMHdPWlAzLW5Oam1WRm1UYWJhWVFjUDeCd3NORXBxTjJtMW5lTWFUazZQeUZDQmw"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}