{
  "http_interactions": [
    {
      "recorded_at": "2021-05-25T01:26:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=client_credentials"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"message\": \"Too Many Requests\", \"error\": 429}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 429,
          "message": "Too Many Requests"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}