{
  "http_interactions": [
    {
      "recorded_at": "2016-11-20T23:03:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"J-svSufmGU6bYQufS5bo0tKe8aQ\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-11-20T23:03:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--4f5b3dbbc32e4adfb4d55840247f180c\r\nContent-Disposition: form-data; name=\"api_type\"\r\n\r\njson\r\n--4f5b3dbbc32e4adfb4d55840247f180c\r\nContent-Disposition: form-data; name=\"upload_type\"\r\n\r\nheader\r\n--4f5b3dbbc32e4adfb4d55840247f180c\r\nContent-Disposition: form-data; name=\"file\"; filename=\"white-square.png\"\r\n\r\n\ufffdPNG\r\n\u001a\n\u0000\[...]
