{
  "http_interactions": [
    {
      "recorded_at": "2016-02-14T22:51:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "token=dummy+token"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/revoke_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://www.reddit.com/api/v1/revoke_token"
      }
    }
  ],
  "recorded_with": "betamax/0.5.1"
}