{
  "http_interactions": [
    {
      "recorded_at": "2016-08-07T06:22:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "token=dummy+token&token_type_hint=access_token"
        },
        "headers": {
          "Authorization": "Basic N3poaE9NdGNPQUlxU2c6",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/revoke_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://www.reddit.com/api/v1/revoke_token"
      }
    }
  ],
  "recorded_with": "betamax/0.7.1"
}